<div class="renters-list">
    <h2 class="mb-3">List of renters</h2>

    <a routerLink="/add-renter" class="mb-4 me-2" mat-flat-button color="primary">
        <mat-icon>add</mat-icon>
        Add a new renter
    </a>

    <div class="mat-elevation-z2 custom-table">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <mat-table [dataSource]="listData" matSort>

            <ng-container matColumnDef="num">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let data; let i = index">
                    {{i + 1}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="renterName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.renterName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="buildingName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Building</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.buildingName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="flatNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Flat No.</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.flatNo}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="renterPhone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.renterPhone}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="renterEmail">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.renterEmail}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="renterAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.renterAddress}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nidNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>NID</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.nidNo}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <button mat-icon-button class="text-danger" (click)="openDialog(data.renterId, data.buildingFlatId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <div class="text-center pt-2" *ngIf="!isLoading && listData.data.length === 0">
            <p>No renters found.</p>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>

</div>