.blog-edit {
    width: 70vw;
    margin: 0 auto;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;

    .form-group {
        margin-bottom: 15px;
    }

    label {
        color: #000000DE;
        font-weight: 700;
        margin-bottom: 5px;
    }
}

.dialog-actions {
    justify-content: space-between;
    padding: 0 30px;
}