<div class="dashboard">
    <h2 class="mb-5">Dashboard</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card pt-2">
                <div class="container-fluid">
                    <div class="card-icons">
                        <mat-icon class="icon-nigga" class="text-danger">favorite</mat-icon>
                        <span>1,458</span>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Total loves</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card pt-2">
                <div class="container-fluid">
                    <div class="card-icons">
                        <mat-icon class="icon-nigga" class="text-primary">thumb_up</mat-icon>
                        <span>20,215</span>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Total likes</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card pt-2">
                <div class="container-fluid">
                    <div class="card-icons">
                        <mat-icon class="icon-nigga" class="text-secondary">visibility</mat-icon>
                        <span>87,985</span>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Total views</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>