<div class="dashboard">
    <h2 class="mb-5">Dashboard</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card pt-2">
                <div class="container-fluid">
                    <div class="card-icons">
                        <mat-icon class="text-danger">apartment</mat-icon>
                        <span>3</span>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Total Property</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card pt-2">
                <div class="container-fluid">
                    <div class="card-icons">
                        <mat-icon class="text-primary">group</mat-icon>
                        <span>18</span>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Total Renters</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card pt-2">
                <div class="container-fluid">
                    <div class="card-icons">
                        <mat-icon class="text-success">payments</mat-icon>
                        <span>80,560৳</span>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Total Rent paid</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>